Package                        Version             Location
------------------------------ ------------------- --------------
absl-py                        0.12.0
affine                         2.3.0
aiobotocore                    1.3.1
aiohttp                        3.7.4.post0
aiohttp-cors                   0.7.0
aioitertools                   0.7.1
aioredis                       1.3.1
albumentations                 1.0.3
alembic                        1.6.5
allennlp                       2.5.0
altair                         4.1.0
annoy                          1.17.0
ansiwrap                       0.8.4
anyio                          3.2.0
appdirs                        1.4.4
argon2-cffi                    20.1.0
arrow                          1.1.0
arviz                          0.11.2
asn1crypto                     1.4.0
astunparse                     1.6.3
async-generator                1.10
async-timeout                  3.0.1
attrs                          21.2.0
audioread                      2.1.9
autobahn                       21.3.1
autocfg                        0.0.8
Automat                        20.2.0
Babel                          2.9.1
backcall                       0.2.0
backports.csv                  1.0.7
backports.functools-lru-cache  1.6.4
basemap                        1.2.1
bayesian-optimization          1.2.0
bayespy                        0.5.22
beatrix-jupyterlab             0.0.3
beautifulsoup4                 4.9.3
binaryornot                    0.4.4
biopython                      1.79
black                          21.5b2
bleach                         3.3.0
blessings                      1.7
blinker                        1.4
blis                           0.7.4
bokeh                          2.3.2
Boruta                         0.3
boto3                          1.17.105
botocore                       1.20.105
Bottleneck                     1.3.2
bq-helper                      0.4.1               /src/bq-helper
bqplot                         0.12.29
branca                         0.4.2
brewer2mpl                     1.4.1
brotlipy                       0.7.0
cachetools                     4.2.2
caip-notebooks-serverextension 1.0.0
Cartopy                        0.18.0
catalogue                      1.0.0
catalyst                       21.6
catboost                       0.26
category-encoders              2.2.2
certifi                        2021.5.30
cesium                         0.9.12
cffi                           1.14.5
cftime                         1.5.0
chardet                        4.0.0
checklist                      0.0.11
cheroot                        8.5.2
CherryPy                       18.6.1
cleverhans                     3.1.0
click                          7.1.2
click-plugins                  1.1.1
cliff                          3.8.0
cligj                          0.7.2
cloud-tpu-client               0.10
cloudpickle                    1.6.0
cmaes                          0.8.2
cmd2                           2.1.2
cmdstanpy                      0.9.5
cmudict                        0.4.5
colorama                       0.4.4
colorcet                       2.0.6
colorlog                       5.0.1
colorlover                     0.3.0
conda                          4.9.2
conda-package-handling         1.7.3
configparser                   5.0.2
confuse                        1.4.0
constantly                     15.1.0
contextily                     1.1.0
contextlib2                    21.6.0
convertdate                    2.3.2
cookiecutter                   1.7.0
cryptography                   3.4.7
cufflinks                      0.17.3
CVXcanon                       0.1.2
cvxpy                          1.1.7
cycler                         0.10.0
cymem                          2.0.5
cysignals                      1.10.3
Cython                         0.29.23
cytoolz                        0.11.0
dask                           2021.6.2
dataclasses                    0.6
datashader                     0.13.0
datashape                      0.5.2
datatable                      1.0.0
deap                           1.3.1
decorator                      5.0.9
deepdish                       0.3.6
defusedxml                     0.7.1
Delorean                       1.0.0
Deprecated                     1.2.12
descartes                      1.1.0
dill                           0.3.4
dipy                           1.4.1
distributed                    2021.6.2
dlib                           19.22.0
dm-tree                        0.1.6
docker                         5.0.0
docker-pycreds                 0.4.0
docutils                       0.17.1
earthengine-api                0.1.272
easydev                        0.11.1
easyocr                        1.3.2
ecos                           2.0.7.post1
efficientnet-pytorch           0.6.3
eli5                           0.11.0
emoji                          1.2.0
en-core-web-lg                 2.3.1
en-core-web-sm                 2.3.1
entrypoints                    0.3
ephem                          4.0.0.2
essentia                       2.1b6.dev374
fancyimpute                    0.5.5
fastai                         2.2.7
fastcore                       1.3.20
fastprogress                   1.0.0
fasttext                       0.9.2
fbpca                          1.0
fbprophet                      0.7.1
feather-format                 0.4.1
featuretools                   0.25.0
feedparser                     6.0.8
filelock                       3.0.12
Fiona                          1.8.18
fitter                         1.3.0
flake8                         3.9.2
flashtext                      2.7
Flask                          2.0.1
flatbuffers                    1.12
folium                         0.12.1
fsspec                         2021.6.1
funcy                          1.16
fury                           0.7.0
future                         0.18.2
fuzzywuzzy                     0.18.0
gast                           0.3.3
gatspy                         0.3
gcsfs                          2021.6.0
GDAL                           3.2.1
gensim                         4.0.1
geographiclib                  1.52
Geohash                        1.0
geojson                        2.5.0
geopandas                      0.9.0
geoplot                        0.4.3
geopy                          2.1.0
geoviews                       1.9.1
ggplot                         0.11.5
gitdb                          4.0.7
GitPython                      3.1.18
gluoncv                        0.10.3
gluonnlp                       0.10.0
google-api-core                1.30.0
google-api-python-client       1.8.0
google-auth                    1.30.2
google-auth-httplib2           0.1.0
google-auth-oauthlib           0.4.4
google-cloud-aiplatform        0.6.0a1
google-cloud-appengine-logging 0.1.1
google-cloud-audit-log         0.1.0
google-cloud-automl            1.0.1
google-cloud-bigquery          2.2.0
google-cloud-bigtable          2.2.0
google-cloud-core              1.7.0
google-cloud-dataproc          2.4.0
google-cloud-datastore         2.1.3
google-cloud-firestore         2.1.3
google-cloud-kms               2.3.0
google-cloud-language          2.1.0
google-cloud-logging           2.5.0
google-cloud-monitoring        2.3.0
google-cloud-pubsub            1.7.0
google-cloud-scheduler         2.2.0
google-cloud-spanner           3.5.0
google-cloud-speech            2.4.0
google-cloud-storage           1.38.0
google-cloud-tasks             2.3.0
google-cloud-translate         3.2.0
google-cloud-videointelligence 2.2.0
google-cloud-vision            2.3.2
google-crc32c                  1.1.2
google-pasta                   0.2.0
google-resumable-media         1.3.1
googleapis-common-protos       1.53.0
gplearn                        0.4.1
gpustat                        0.6.0
gpxpy                          1.4.2
graphviz                       0.8.4
greenlet                       1.1.0
grpc-google-iam-v1             0.12.3
grpcio                         1.32.0
grpcio-gcp                     0.2.2
gym                            0.18.3
h2o                            3.32.1.3
h5py                           2.10.0
haversine                      2.3.1
HeapDict                       1.0.1
hep-ml                         0.6.2
hijri-converter                2.1.3
hiredis                        2.0.0
hmmlearn                       0.2.5
holidays                       0.11.1
holoviews                      1.14.4
hpsklearn                      0.1.0
html5lib                       1.1
htmlmin                        0.1.12
httplib2                       0.19.1
httplib2shim                   0.0.3
huggingface-hub                0.0.8
humanize                       3.10.0
hunspell                       0.5.5
husl                           4.0.3
hyperlink                      21.0.0
hyperopt                       0.2.5
hypertools                     0.7.0
hypothesis                     6.14.1
ibis-framework                 1.4.0
idna                           2.10
imagecodecs                    2021.6.8
ImageHash                      4.2.0
imageio                        2.9.0
imbalanced-learn               0.8.0
imgaug                         0.4.0
implicit                       0.4.4
importlib-metadata             3.4.0
incremental                    21.3.0
iniconfig                      1.1.1
ipykernel                      5.5.5
ipympl                         0.7.0
ipython                        7.24.1
ipython-genutils               0.2.0
ipython-sql                    0.3.9
ipywidgets                     7.6.3
iso-639                        0.4.5
iso3166                        1.0.1
isoweek                        1.3.3
itsdangerous                   2.0.1
Janome                         0.4.1
jaraco.classes                 3.2.1
jaraco.collections             3.3.0
jaraco.functools               3.3.0
jaraco.text                    3.5.0
jax                            0.2.12
jaxlib                         0.1.64
jedi                           0.18.0
jieba                          0.42.1
Jinja2                         3.0.1
jinja2-time                    0.2.0
jmespath                       0.10.0
joblib                         1.0.1
json5                          0.9.5
jsonnet                        0.17.0
jsonschema                     3.2.0
jupyter                        1.0.0
jupyter-client                 6.1.12
jupyter-console                6.4.0
jupyter-core                   4.7.1
jupyter-http-over-ws           0.0.8
jupyter-server                 1.8.0
jupyter-server-mathjax         0.2.3
jupyterlab                     1.2.16
jupyterlab-git                 0.11.0
jupyterlab-pygments            0.1.2
jupyterlab-server              1.2.0
jupyterlab-widgets             1.0.0
kaggle                         1.5.12
kaggle-environments            1.7.11
Keras                          2.4.3
Keras-Preprocessing            1.1.2
keras-tuner                    1.0.3
kiwisolver                     1.3.1
kmapper                        2.0.1
kmodes                         0.11.0
knnimpute                      0.1.0
korean-lunar-calendar          0.2.1
kornia                         0.5.5
kt-legacy                      1.0.3
kubernetes                     17.17.0
langid                         1.1.6
learntools                     0.3.4
leven                          1.0.4
libcst                         0.3.19
librosa                        0.8.1
lightfm                        1.16
lightgbm                       3.2.1
lime                           0.2.0.1
line-profiler                  3.3.0
llvmlite                       0.36.0
lmdb                           1.2.1
lml                            0.1.0
locket                         0.2.1
LunarCalendar                  0.0.9
lxml                           4.6.3
Mako                           1.1.4
mapclassify                    2.4.2
marisa-trie                    0.7.5
Markdown                       3.3.4
markovify                      0.9.0
MarkupSafe                     2.0.1
matplotlib                     3.4.2
matplotlib-inline              0.1.2
matplotlib-venn                0.11.6
matrixprofile                  1.1.10
mccabe                         0.6.1
memory-profiler                0.58.0
mercantile                     1.2.1
missingno                      0.4.2
mistune                        0.8.4
mizani                         0.7.3
ml-metrics                     0.1.4
mlcrate                        0.2.0
mlens                          0.2.3
mlxtend                        0.18.0
mmh3                           3.0.0
mne                            0.23.0
mnist                          0.2.2
mock                           4.0.3
more-itertools                 8.8.0
mpld3                          0.5.5
mpmath                         1.2.1
msgpack                        1.0.2
msgpack-numpy                  0.4.7.1
multidict                      5.1.0
multimethod                    1.4
multipledispatch               0.6.0
multiprocess                   0.70.12.2
munch                          2.5.0
murmurhash                     1.0.5
mxnet                          1.8.0.post0
mypy-extensions                0.4.3
nb-conda                       2.2.1
nb-conda-kernels               2.3.1
nbclient                       0.5.3
nbconvert                      6.0.7
nbdime                         3.1.0
nbformat                       5.1.3
nest-asyncio                   1.5.1
netCDF4                        1.5.7
networkx                       2.5
nibabel                        3.2.1
nilearn                        0.8.0
nltk                           3.2.4
nnabla                         1.20.1
nose                           1.3.7
notebook                       6.4.0
notebook-executor              0.2
numba                          0.53.1
numexpr                        2.7.3
numpy                          1.19.5
nvidia-ml-py3                  7.352.0
oauth2client                   4.1.3
oauthlib                       3.1.1
odfpy                          1.4.1
olefile                        0.46
onnx                           1.8.1
opencensus                     0.7.13
opencensus-context             0.1.2
opencv-python                  4.5.2.54
opencv-python-headless         4.5.2.54
openslide-python               1.1.2
opt-einsum                     3.3.0
optuna                         2.8.0
orderedmultidict               1.0.1
ortools                        9.0.9048
osmnx                          1.1.1
osqp                           0.6.2.post0
overrides                      3.1.0
packaging                      20.9
palettable                     3.3.0
pandarallel                    1.5.2
pandas                         1.2.4
pandas-datareader              0.9.0
pandas-profiling               3.0.0
pandas-summary                 0.0.7
pandasql                       0.7.3
pandocfilters                  1.4.2
panel                          0.11.3
papermill                      2.3.3
param                          1.11.1
parso                          0.8.2
partd                          1.2.0
path                           16.0.0
path.py                        12.5.0
pathos                         0.2.8
pathspec                       0.8.1
pathtools                      0.1.2
patsy                          0.5.1
patternfork-nosql              3.6
pbr                            5.6.0
pdf2image                      1.16.0
pdfminer.six                   20201018
PDPbox                         0.2.1
pexpect                        4.8.0
phik                           0.11.2
pickleshare                    0.7.5
Pillow                         8.2.0
pip                            21.1.2
plac                           1.1.3
plotly                         5.1.0
plotly-express                 0.4.1
plotnine                       0.8.0
pluggy                         0.13.1
polyglot                       16.7.4
pooch                          1.4.0
portalocker                    2.3.0
portend                        2.7.1
pox                            0.3.0
poyo                           0.5.0
ppca                           0.0.4
ppft                           1.6.6.4
preprocessing                  0.1.13
preshed                        3.0.5
pretrainedmodels               0.7.4
prettytable                    2.1.0
prometheus-client              0.11.0
promise                        2.3
prompt-toolkit                 3.0.19
pronouncing                    0.2.0
proto-plus                     1.18.1
protobuf                       3.17.3
psutil                         5.8.0
ptyprocess                     0.7.0
pudb                           2021.1
py                             1.10.0
py-lz4framed                   0.14.0
py-spy                         0.3.7
py-stringmatching              0.4.2
py-stringsimjoin               0.3.2
pyaml                          20.4.0
PyArabic                       0.6.11
pyarrow                        4.0.0
pyasn1                         0.4.8
pyasn1-modules                 0.2.7
PyAstronomy                    0.16.0
pybind11                       2.6.2
pycodestyle                    2.7.0
pycosat                        0.6.3
pycountry                      20.7.3
pycparser                      2.20
pycrypto                       2.6.1
pyct                           0.4.8
pydantic                       1.8.2
pydash                         5.0.1
pydegensac                     0.1.2
pyDeprecate                    0.3.0
pydicom                        2.1.2
pydot                          1.4.2
pydub                          0.25.1
pyemd                          0.5.1
pyexcel-io                     0.6.4
pyexcel-ods                    0.6.0
pyfasttext                     0.4.6
pyflakes                       2.3.1
pyglet                         1.5.15
Pygments                       2.9.0
PyJWT                          2.1.0
pykalman                       0.9.5
pyLDAvis                       3.3.1
pymc3                          3.11.2
PyMeeus                        0.5.11
pymongo                        3.11.4
Pympler                        0.9
pynndescent                    0.5.3
pyocr                          0.8
pyOpenSSL                      20.0.1
pyparsing                      2.4.7
pyPdf                          1.13
pyperclip                      1.8.2
PyPrind                        2.11.3
pyproj                         2.6.1.post1
PyQt5                          5.12.3
PyQt5-sip                      4.19.18
PyQtChart                      5.12
PyQtWebEngine                  5.12.1
pyrsistent                     0.17.3
pysal                          2.1.0
pyshp                          2.1.3
PySocks                        1.7.1
pystan                         2.19.1.1
pytesseract                    0.3.8
pytest                         6.2.4
pytext-nlp                     0.1.2
python-bidi                    0.4.2
python-dateutil                2.8.1
python-docx                    0.8.11
python-editor                  1.0.4
python-igraph                  0.9.5
python-Levenshtein             0.12.2
python-louvain                 0.15
python-slugify                 5.0.2
pytorch-ignite                 0.4.5
pytorch-lightning              1.3.8
pytz                           2021.1
pyu2f                          0.1.5
PyUpSet                        0.1.1.post7
pyviz-comms                    2.1.0
PyWavelets                     1.1.1
PyYAML                         5.4.1
pyzmq                          22.1.0
qdldl                          0.1.5.post0
qgrid                          1.3.1
qtconsole                      5.1.1
QtPy                           1.9.0
randomgen                      1.16.6
rasterio                       1.2.6
ray                            1.4.1
redis                          3.5.3
regex                          2021.4.4
requests                       2.25.1
requests-oauthlib              1.3.0
resampy                        0.2.2
retrying                       1.3.3
rgf-python                     3.10.0
rsa                            4.7.2
Rtree                          0.9.7
ruamel-yaml-conda              0.15.80
s2sphere                       0.2.5
s3fs                           2021.6.1
s3transfer                     0.4.2
sacremoses                     0.0.45
scattertext                    0.1.3
scikit-image                   0.18.2
scikit-learn                   0.23.2
scikit-multilearn              0.2.0
scikit-optimize                0.8.1
scikit-plot                    0.3.7
scikit-surprise                1.1.1
scipy                          1.6.3
scs                            2.1.4
seaborn                        0.11.1
segmentation-models-pytorch    0.2.0
semver                         2.13.0
Send2Trash                     1.5.0
sentencepiece                  0.1.96
sentry-sdk                     1.2.0
setuptools                     49.6.0.post20210108
setuptools-git                 1.2
sgmllib3k                      1.0.0
shap                           0.39.0
Shapely                        1.7.1
shortuuid                      1.0.1
SimpleITK                      2.0.2
simplejson                     3.17.2
six                            1.15.0
sklearn                        0.0
sklearn-contrib-py-earth       0.1.0+1.gdde5f89
sklearn-pandas                 2.2.0
slicer                         0.0.7
smart-open                     5.1.0
smhasher                       0.150.1
smmap                          3.0.5
sniffio                        1.2.0
snuggs                         1.4.7
sortedcontainers               2.4.0
SoundFile                      0.10.3.post1
soupsieve                      2.2.1
spacy                          2.3.7
spectral                       0.22.2
sphinx-rtd-theme               0.2.4
SQLAlchemy                     1.4.18
sqlparse                       0.4.1
squarify                       0.4.3
srsly                          1.0.5
statsmodels                    0.12.2
stemming                       1.0.1
stevedore                      3.3.0
stop-words                     2018.7.23
stopit                         1.1.2
stumpy                         1.8.0
subprocess32                   3.5.4
sympy                          1.8
tables                         3.6.1
tabulate                       0.8.9
tangled-up-in-unicode          0.1.0
tblib                          1.7.0
tempora                        4.1.1
tenacity                       7.0.0
tensorboard                    2.4.1
tensorboard-data-server        0.6.1
tensorboard-plugin-wit         1.8.0
tensorboardX                   2.2
tensorflow                     2.4.1
tensorflow-addons              0.12.1
tensorflow-cloud               0.1.13
tensorflow-datasets            3.0.0
tensorflow-estimator           2.4.0
tensorflow-gcs-config          2.4.0
tensorflow-hub                 0.12.0
tensorflow-metadata            1.1.0
tensorflow-probability         0.13.0
tensorpack                     0.11
termcolor                      1.1.0
terminado                      0.10.1
testpath                       0.5.0
text-unidecode                 1.3
textblob                       0.15.3
texttable                      1.6.3
textwrap3                      0.9.2
Theano                         1.0.5
Theano-PyMC                    1.1.2
thinc                          7.4.5
threadpoolctl                  2.1.0
tifffile                       2021.7.2
timm                           0.4.12
tokenizers                     0.10.3
toml                           0.10.2
toolz                          0.11.1
torch                          1.7.0
torchaudio                     0.7.0a0+ac17b64
torchmetrics                   0.4.1
torchtext                      0.8.0a0+cd6902d
torchvision                    0.8.1
tornado                        6.1
TPOT                           0.11.7
tqdm                           4.61.1
traitlets                      5.0.5
traittypes                     0.2.1
transformers                   4.6.1
trueskill                      0.4.5
tsfresh                        0.18.0
Twisted                        21.2.0
txaio                          21.2.1
typed-ast                      1.4.3
typeguard                      2.12.1
typing-extensions              3.7.4.3
typing-inspect                 0.7.1
tzlocal                        2.1
ujson                          4.0.2
umap-learn                     0.5.1
Unidecode                      1.2.0
update-checker                 0.18.0
uritemplate                    3.0.1
urllib3                        1.26.5
urwid                          2.1.2
vecstack                       0.4.0
visions                        0.7.1
vowpalwabbit                   8.10.2
vtk                            9.0.3
Wand                           0.6.6
wandb                          0.10.33
wasabi                         0.8.2
wavio                          0.0.4
wcwidth                        0.2.5
webencodings                   0.5.1
websocket-client               0.57.0
Werkzeug                       2.0.1
wfdb                           3.4.0
wheel                          0.36.2
whichcraft                     0.6.1
widgetsnbextension             3.5.1
Wordbatch                      1.4.8
wordcloud                      1.8.1
wordsegment                    1.3.1
wrapt                          1.12.1
wslink                         0.2.0
xarray                         0.18.2
xgboost                        1.4.2
xvfbwrapper                    0.2.9
yacs                           0.1.8
yarl                           1.6.3
yellowbrick                    1.3.post1
zc.lockfile                    2.0
zict                           2.0.0
zipp                           3.4.1
zope.interface                 5.4.0
